* {
  margin: 0;
  padding: 0;
  font-family: arial;
  color: white;
  box-sizing: border-box;
}
body {
  margin: 10px;
  height: 3000px;
  background-color: rgb(74, 69, 69);
}
header {
  text-align: center;
  font-size: 100px;
  font-weight: 800;
}
.container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.menu {
  text-align: center;
  font-size: 100px;
  font-weight: 800;
  margin-top: 30px;
}
.container-menu {
  display: flex;
  justify-content: center;
}

p {
  font-style: italic;
  font-size: 20px;
  padding: 8px 0px 50px 0;
}
ul {
  padding-bottom: 20px;
}
.harga-satay {
  width: 900px;
  font-size: 30px;
  padding: 20px;
  background-color: rgb(8, 8, 7);
}

.harga-satay li {
  display: flex;
  justify-content: space-between;
}
.footer {
  margin-top: 40px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
iframe {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  header {
    line-height: 1;
  }
  .container {
    flex-direction: column;
    margin-top: 30px;
  }
  .harga-satay {
    width: 600px;
    font-size: 20px;
  }
  p {
    font-size: 15px;
  }
}
